<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <nav class="navbar  bg-success">
         <h1 class="text-center" style="color:white;margin-left:700px">Store Details</h1>
         <div class="me-5"><a href="/register" class="btn btn-info" >Register</a>
         </div>
        </nav>
    </div>
</div>

<!--Register Form -->

<form action="/checklogin" method="post">
<div class="container mt-3" style="width:50%">
    <div class="card text-center">
        <div class="card-header">
            Login

        </div>
        <div class="card-body">

            <div class="row mt-1">
                <div class="col-4"><lable for="email"  class="form-label">Enter Email</lable></div>
               <div class="col-8">
                <div class="form-group">
                <input type="email" id="email" name="uemail" class="form-control" required></div>
            </div>
            </div>
            <div class="row mt-1">
                <div class="col-4"><lable for="password"   class="form-label mt-1">Enter Password</lable></div>
               <div class="col-8">
                <div class="form-group">
                <input type="password" id="password" name="upassword" class="form-control mt-1" required></div>
            </div>
            </div>

        </div>
        <div class="card-footer text-muted">
             <input type="submit" name="login" value="Login" class="btn btn-outline-success" />
        </div>

    </div>
</div>
</form>


</body>
</html>