<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/user" method="get">
Name:
    <input type="text" placeholder="Enter the name" name="text" ></br> </br>
Email:
    <input type="email" placeholder="Enter the email" name="email"></br></br>
Age:
    <input type="number" name="age" ></br></br>
Password:
    <input type="password" placeholder="enter the Password"  name="password" ></br></br>
mobile no:
    <input type="tel" name="tel"></br></br>

    <input type="submit" value="RESIGTER">
</form>

</body>
</html>