<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Mywebsite</title>
    <
</head>
<body >
<div class="mi"><h1><center> <u>Welcome {{ content }} </u></center> </h1></div>
<hr noshade="4">
<div><p>The <i>Union Public Service Commission</i>, <strike>commonly abbreviated as UPSC,</strike> is <q>India's</q> premier central
    <b>recruitment</b> agency<del> for recruitment </del>of all the<mark> Group 'A' </mark>>officers under Government of India</p>
    </div>
    <pre>
    (a+b)<sup>2</sup>=a<sup>2</sup>+b<sub>2</sub>+2ab
    h<sub>2</sub>o
</pre>



</p>
<marquee STYLE="color: blue ; height : 45px; background : yellow ; loop : 34">Rongala dhana prasad</marquee>
<div>
<ul type="square">
    <li>Python</li>
    <li>Java</li>
    <li>Php</li>
</ul>
</div>
<div>
<ol type="1", start="8">
    <li>Python</li>
    <li>Java</li>
    <li>Php</li>
</ol>
    </div>

<div>
<dl>
    <a href="https://www.youtube.com"><dt>HTML</dt></a>
    <dd><font color="blue">Hyper Text Markup Language</font></dd>
</dl>
    </div>
<div>
<form>
Name:
    <input type="text" placeholder="Enter the name" name="text" maxlength="7" required></br> </br>
Email:
    <input type="email" placeholder="Enter the email" name="email"></br></br>
Age:
    <input type="number" name="age" step="1" max="100" min="0"></br></br>
Password:
    <input type="password" placeholder="enter the Password"  name="password" minlength="8"></br></br>
mobile no:
    <input type="tel" name="tel"></br></br>
Gender:
    <input type="radio" name="gender">Male </br></br>
    <input type="radio" name="gender">Female</br></br>
<input type="checkbox" name="checkbox"> <pre>I agree</pre></div>
    <input type="submit" value="registre"></br></br>
    <input type="reset" value="Clear"></br></br>
    <input type="search" name="search">
    <input type="file" >
     <input type="url" >
     <input type="image" src="c//locationname/photoname.formatname" >
    <input type="date">
<div>

<fieldset>
     <input type="selectall" >
</fieldset></div>
<textarea cols="23" >

</textarea>
</form>
</div>
<img src="c//locationname/filename.formatname height='56' width='45' alt='Photo'">

<table border="1" cellpadding="3" cellspacing="3">
    <caption><font color="green" size="2">Student details</font></caption>
<tr>
    <th>name<th>
    <th>grade<th>
</tr>
<tr>
    <td>rongala</td>
    <td>A</td>
</table>



</body>
</html>